@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 30, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/animations.scss */
.fade-in-up {
  -webkit-animation-name: fade-in-up;
  animation-name: fade-in-up;
}

/* line 3, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 9, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.upper {
  text-transform: uppercase;
}

/* line 30, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 13, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Lato", Helvetica, Ariel sans-serif;
}

/* line 19, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
body, html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #111;
}

/* line 26, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
p, label {
  margin-bottom: 0.3125rem;
  font-family: "Lato", Helvetica, Ariel sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
}

/* line 34, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
pre {
  margin: 1rem 0;
  padding: 1rem;
  background-color: white;
  font-family: monospace;
}

/* line 41, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
ul li {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

/* line 46, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
em {
  font-style: italic;
}

/* line 48, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
strong, .bold {
  font-weight: 700;
}

/* line 50, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
img {
  max-width: 100%;
}

/* line 54, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
a, a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 59, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
input, textarea {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.3125rem;
}
/* line 64, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
}

/* line 74, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h1, .h1 {
  font-family: "Lato", Helvetica, Ariel sans-serif;
  font-weight: 300;
  font-size: 6.5rem;
  line-height: 6.5rem;
}

/* line 80, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h2, .h2, .prediction.featured .text {
  font-family: "Lato", Helvetica, Ariel sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
}

/* line 86, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h3, .h3, .prediction.featured .pundit .name {
  font-family: "Lato", Helvetica, Ariel sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2rem;
}

/* line 92, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h4, .h4, .logo {
  font-family: "Lato", Helvetica, Ariel sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: .625rem;
  text-transform: uppercase;
}

/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h5, .h5 {
  font-family: "Lato", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1rem;
  margin-bottom: 0.625rem;
}

/* line 107, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h6, .h6, .prediction.featured .pundit .source {
  font-family: "Lato", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}

@media screen and (min-width: 1921px) {
  /* line 115, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1920px) {
  /* line 121, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1440px) {
  /* line 127, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 133, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  /* line 139, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 13px;
  }
}
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 30, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/animations.scss */
.fade-in-up {
  -webkit-animation-name: fade-in-up;
  animation-name: fade-in-up;
}

/* line 3, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 9, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.upper {
  text-transform: uppercase;
}

/* line 30, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 13, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Lato", Helvetica, Ariel sans-serif;
}

/* line 19, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
body, html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #111;
}

/* line 26, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
p, label {
  margin-bottom: 0.3125rem;
  font-family: "Lato", Helvetica, Ariel sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
}

/* line 34, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
pre {
  margin: 1rem 0;
  padding: 1rem;
  background-color: white;
  font-family: monospace;
}

/* line 41, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
ul li {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

/* line 46, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
em {
  font-style: italic;
}

/* line 48, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
strong, .bold {
  font-weight: 700;
}

/* line 50, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
img {
  max-width: 100%;
}

/* line 54, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
a, a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 59, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
input, textarea {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.3125rem;
}
/* line 64, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1rem;
}

/* line 74, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h1, .h1 {
  font-family: "Lato", Helvetica, Ariel sans-serif;
  font-weight: 300;
  font-size: 6.5rem;
  line-height: 6.5rem;
}

/* line 80, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h2, .h2, .prediction.featured .text {
  font-family: "Lato", Helvetica, Ariel sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3rem;
}

/* line 86, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h3, .h3, .prediction.featured .pundit .name {
  font-family: "Lato", Helvetica, Ariel sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2rem;
}

/* line 92, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h4, .h4, .logo {
  font-family: "Lato", Helvetica, Ariel sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: .625rem;
  text-transform: uppercase;
}

/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h5, .h5 {
  font-family: "Lato", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1rem;
  margin-bottom: 0.625rem;
}

/* line 107, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h6, .h6, .prediction.featured .pundit .source {
  font-family: "Lato", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}

@media screen and (min-width: 1921px) {
  /* line 115, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1920px) {
  /* line 121, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1440px) {
  /* line 127, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 133, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  /* line 139, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 13px;
  }
}
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 30, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/animations.scss */
.fade-in-up {
  -webkit-animation-name: fade-in-up;
  animation-name: fade-in-up;
}

/* line 3, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 9, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.upper {
  text-transform: uppercase;
}

/* line 30, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 6, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/angle_navbar.scss */
.navbar {
  height: 4rem;
  background-color: #e54236;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 5000;
}
/* line 13, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/angle_navbar.scss */
.navbar nav {
  max-width: 65rem;
  margin: 0 auto;
  width: 95%;
  padding: 0 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/angle_navbar.scss */
.logo {
  width: 5rem;
  height: 4rem;
  position: relative;
  padding-top: 1rem;
  display: inline-block;
}
/* line 29, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/angle_navbar.scss */
.logo span {
  text-align: justify;
  width: 4rem;
  line-height: 0.75rem;
  display: block;
}
/* line 35, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/angle_navbar.scss */
.logo .t {
  font-size: 0.95rem;
  margin-top: -1.25rem;
}

/* line 41, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/angle_navbar.scss */
.categories {
  display: inline-block;
  vertical-align: top;
}
/* line 45, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/angle_navbar.scss */
.categories li {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0 1rem;
}

/* line 52, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/angle_navbar.scss */
.sign-up {
  float: right;
  font-size: 0.8rem;
  margin-top: 1rem;
}

/* line 58, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/angle_navbar.scss */
.login {
  float: right;
  font-size: 0.8rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
}

/* line 13 */
html, body {
  background-color: white;
  position: relative;
}

/* line 18 */
.button {
  background-color: transparent;
  color: white;
  width: auto;
  display: inline-block;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22 */
.content {
  z-index: 80;
  width: 100%;
  overflow-x: hidden;
  max-width: 65rem;
  margin: 0 auto;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/* line 33 */
.hero {
  background-color: #e54236;
  padding-top: 4rem;
  padding-bottom: 1rem;
  height: 25rem;
}
/* line 38 */
.hero .contain {
  position: relative;
  height: 25rem;
}
/* line 42 */
.hero .bg-image {
  height: 25rem;
}
/* line 45 */
.hero .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.hero .angle.left {
  left: 0;
  border-top: 25rem solid #e54236;
  border-right: 2.5rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.hero .angle.hang-left {
  left: -2.5rem;
  border-bottom: 25rem solid #e54236;
  border-left: 2.5rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.hero .angle.right {
  right: 0;
  border-bottom: 25rem solid #e54236;
  border-left: 2.5rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.hero .angle.hang-right {
  right: -2.5rem;
  border-top: 25rem solid #e54236;
  border-right: 2.5rem solid transparent;
}
/* line 49 */
.hero.inline {
  padding-top: 1rem;
  background-color: #f4bb15;
}
/* line 52 */
.hero.inline .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.hero.inline .angle.left {
  left: 0;
  border-top: 25rem solid #f4bb15;
  border-right: 2.5rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.hero.inline .angle.hang-left {
  left: -2.5rem;
  border-bottom: 25rem solid #f4bb15;
  border-left: 2.5rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.hero.inline .angle.right {
  right: 0;
  border-bottom: 25rem solid #f4bb15;
  border-left: 2.5rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.hero.inline .angle.hang-right {
  right: -2.5rem;
  border-top: 25rem solid #f4bb15;
  border-right: 2.5rem solid transparent;
}

/* line 91 */
i.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* line 106 */
.prediction {
  position: relative;
  display: inline-block;
  width: 20rem;
  height: 15rem;
  padding-left: 1.5rem;
  margin: 1rem 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
}
/* line 114 */
.prediction .pundit * {
  display: inline;
}
/* line 60 */
.prediction.featured > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured > .angle.left {
  left: 0;
  border-top: 25rem solid white;
  border-right: 2.5rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured > .angle.hang-left {
  left: -2.5rem;
  border-bottom: 25rem solid white;
  border-left: 2.5rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured > .angle.right {
  right: 0;
  border-bottom: 25rem solid white;
  border-left: 2.5rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured > .angle.hang-right {
  right: -2.5rem;
  border-top: 25rem solid white;
  border-right: 2.5rem solid transparent;
}
/* line 65 */
.prediction > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction > .angle.left {
  left: 0;
  border-top: 15rem solid white;
  border-right: 1.5rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction > .angle.hang-left {
  left: -1.5rem;
  border-bottom: 15rem solid white;
  border-left: 1.5rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction > .angle.right {
  right: 0;
  border-bottom: 15rem solid white;
  border-left: 1.5rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction > .angle.hang-right {
  right: -1.5rem;
  border-top: 15rem solid white;
  border-right: 1.5rem solid transparent;
}
/* line 69 */
.prediction.small > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.small > .angle.left {
  left: 0;
  border-top: 10rem solid white;
  border-right: 1rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.small > .angle.hang-left {
  left: -1rem;
  border-bottom: 10rem solid white;
  border-left: 1rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.small > .angle.right {
  right: 0;
  border-bottom: 10rem solid white;
  border-left: 1rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.small > .angle.hang-right {
  right: -1rem;
  border-top: 10rem solid white;
  border-right: 1rem solid transparent;
}
/* line 73 */
.prediction.tall-2 > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.tall-2 > .angle.left {
  left: 0;
  border-top: 22rem solid white;
  border-right: 2.2rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.tall-2 > .angle.hang-left {
  left: -2.2rem;
  border-bottom: 22rem solid white;
  border-left: 2.2rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.tall-2 > .angle.right {
  right: 0;
  border-bottom: 22rem solid white;
  border-left: 2.2rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.tall-2 > .angle.hang-right {
  right: -2.2rem;
  border-top: 22rem solid white;
  border-right: 2.2rem solid transparent;
}
/* line 126 */
.prediction.featured {
  position: absolute;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  height: 25rem;
  padding-right: 2.5rem;
}
/* line 60 */
.prediction.featured.featured > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured.featured > .angle.left {
  left: 0;
  border-top: 25rem solid rgba(255, 255, 255, 0.3);
  border-right: 2.5rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured.featured > .angle.hang-left {
  left: -2.5rem;
  border-bottom: 25rem solid rgba(255, 255, 255, 0.3);
  border-left: 2.5rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured.featured > .angle.right {
  right: 0;
  border-bottom: 25rem solid rgba(255, 255, 255, 0.3);
  border-left: 2.5rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured.featured > .angle.hang-right {
  right: -2.5rem;
  border-top: 25rem solid rgba(255, 255, 255, 0.3);
  border-right: 2.5rem solid transparent;
}
/* line 65 */
.prediction.featured > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured > .angle.left {
  left: 0;
  border-top: 15rem solid rgba(255, 255, 255, 0.3);
  border-right: 1.5rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured > .angle.hang-left {
  left: -1.5rem;
  border-bottom: 15rem solid rgba(255, 255, 255, 0.3);
  border-left: 1.5rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured > .angle.right {
  right: 0;
  border-bottom: 15rem solid rgba(255, 255, 255, 0.3);
  border-left: 1.5rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured > .angle.hang-right {
  right: -1.5rem;
  border-top: 15rem solid rgba(255, 255, 255, 0.3);
  border-right: 1.5rem solid transparent;
}
/* line 69 */
.prediction.featured.small > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured.small > .angle.left {
  left: 0;
  border-top: 10rem solid rgba(255, 255, 255, 0.3);
  border-right: 1rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured.small > .angle.hang-left {
  left: -1rem;
  border-bottom: 10rem solid rgba(255, 255, 255, 0.3);
  border-left: 1rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured.small > .angle.right {
  right: 0;
  border-bottom: 10rem solid rgba(255, 255, 255, 0.3);
  border-left: 1rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured.small > .angle.hang-right {
  right: -1rem;
  border-top: 10rem solid rgba(255, 255, 255, 0.3);
  border-right: 1rem solid transparent;
}
/* line 73 */
.prediction.featured.tall-2 > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured.tall-2 > .angle.left {
  left: 0;
  border-top: 22rem solid rgba(255, 255, 255, 0.3);
  border-right: 2.2rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured.tall-2 > .angle.hang-left {
  left: -2.2rem;
  border-bottom: 22rem solid rgba(255, 255, 255, 0.3);
  border-left: 2.2rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured.tall-2 > .angle.right {
  right: 0;
  border-bottom: 22rem solid rgba(255, 255, 255, 0.3);
  border-left: 2.2rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction.featured.tall-2 > .angle.hang-right {
  right: -2.2rem;
  border-top: 22rem solid rgba(255, 255, 255, 0.3);
  border-right: 2.2rem solid transparent;
}
/* line 138 */
.prediction.featured .text {
  text-shadow: 2px 2px 3px black;
  bottom: 5rem;
}
/* line 144 */
.prediction.featured .pundit {
  background-color: transparent !important;
}
/* line 146 */
.prediction.featured .pundit .photo {
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
}
/* line 151 */
.prediction.featured .pundit .text-wrapper {
  height: 5rem;
  left: 4rem;
  text-shadow: 2px 2px 3px black;
}
/* line 156 */
.prediction.featured .pundit .name {
  line-height: 1.25rem;
  margin: 0;
  text-shadow: 2px 2px 3px black;
}
/* line 162 */
.prediction.featured .pundit .source {
  margin: 1rem 0 0;
}
/* line 169 */
.prediction.tall-2 {
  height: 22rem;
  width: 32rem;
  left: 2rem;
}
/* line 174 */
.prediction.tall-2 .angle {
  width: 0.5rem !important;
}
/* line 179 */
.prediction.small {
  height: 10rem;
  width: 15rem;
  padding-left: 1rem;
}
/* line 184 */
.prediction.small.first-top {
  left: 4.2rem;
}
/* line 187 */
.prediction.small.second-top {
  left: 2.2rem;
}
/* line 190 */
.prediction.small.third-top {
  left: 0.2rem;
}
/* line 193 */
.prediction.small.first {
  left: 2rem;
}
/* line 196 */
.prediction.small.second {
  left: 0;
}
/* line 199 */
.prediction.small.third {
  left: -2rem;
}
/* line 203 */
.prediction.small .text {
  font-size: 1rem;
  line-height: 1.2rem;
}
/* line 208 */
.prediction.small .text-wrapper {
  display: inline-block;
  margin-left: 1rem;
}
/* line 213 */
.prediction.small .name {
  margin: 0;
  display: block;
  font-size: 1rem;
}
/* line 218 */
.prediction.small .source {
  margin: 0;
  display: block;
  font-size: 0.8rem;
}

/* line 227 */
.set-title {
  width: 2rem;
  height: 17rem;
  position: absolute;
  z-index: 1000;
}
/* line 233 */
.set-title.blue {
  background-color: #2a81c4;
}
/* line 80 */
.set-title.blue > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.blue > .angle.left {
  left: 0;
  border-top: 17rem solid #2a81c4;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.blue > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #2a81c4;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.blue > .angle.right {
  right: 0;
  border-bottom: 17rem solid #2a81c4;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.blue > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #2a81c4;
  border-right: 1.7rem solid transparent;
}
/* line 234 */
.set-title.red {
  background-color: #e54236;
}
/* line 80 */
.set-title.red > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.red > .angle.left {
  left: 0;
  border-top: 17rem solid #e54236;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.red > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #e54236;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.red > .angle.right {
  right: 0;
  border-bottom: 17rem solid #e54236;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.red > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #e54236;
  border-right: 1.7rem solid transparent;
}
/* line 235 */
.set-title.yellow {
  background-color: #f4bb15;
}
/* line 80 */
.set-title.yellow > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.yellow > .angle.left {
  left: 0;
  border-top: 17rem solid #f4bb15;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.yellow > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #f4bb15;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.yellow > .angle.right {
  right: 0;
  border-bottom: 17rem solid #f4bb15;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.yellow > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #f4bb15;
  border-right: 1.7rem solid transparent;
}
/* line 236 */
.set-title.green {
  background-color: #039b67;
}
/* line 80 */
.set-title.green > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.green > .angle.left {
  left: 0;
  border-top: 17rem solid #039b67;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.green > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #039b67;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.green > .angle.right {
  right: 0;
  border-bottom: 17rem solid #039b67;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.green > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #039b67;
  border-right: 1.7rem solid transparent;
}
/* line 237 */
.set-title.orange {
  background-color: #d79003;
}
/* line 80 */
.set-title.orange > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.orange > .angle.left {
  left: 0;
  border-top: 17rem solid #d79003;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.orange > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #d79003;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.orange > .angle.right {
  right: 0;
  border-bottom: 17rem solid #d79003;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.set-title.orange > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #d79003;
  border-right: 1.7rem solid transparent;
}
/* line 239 */
.set-title .title {
  position: absolute;
  z-index: 2000;
  height: 2rem;
  top: 50%;
  color: white;
  right: 0;
  margin-top: -1rem;
  -webkit-transform-origin: right;
  /* Safari */
  -webkit-transform: rotate(-77deg) translateX(2.5rem);
  /* Firefox */
  -moz-transform: rotate(-77deg) translateX(2.5rem);
  /* IE */
  -ms-transform: rotate(-77deg) translateX(2.5rem);
  /* Opera */
  -o-transform: rotate(-77deg) translateX(2.5rem);
  font-size: 1.5rem;
}

/* line 252 */
.set-title-spacer {
  width: 2rem;
  height: 15rem;
  display: relative;
  display: inline-block;
  float: left;
}

/* line 260 */
.prediction-set {
  height: 17rem;
  width: 100%;
  padding: 1rem 0;
  overflow-x: scroll;
  list-style: none;
}
/* line 266 */
.prediction-set.blue {
  background-color: #2a81c4;
}
/* line 80 */
.prediction-set.blue > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.blue > .angle.left {
  left: 0;
  border-top: 17rem solid #2a81c4;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.blue > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #2a81c4;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.blue > .angle.right {
  right: 0;
  border-bottom: 17rem solid #2a81c4;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.blue > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #2a81c4;
  border-right: 1.7rem solid transparent;
}
/* line 267 */
.prediction-set.red {
  background-color: #e54236;
}
/* line 80 */
.prediction-set.red > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.red > .angle.left {
  left: 0;
  border-top: 17rem solid #e54236;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.red > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #e54236;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.red > .angle.right {
  right: 0;
  border-bottom: 17rem solid #e54236;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.red > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #e54236;
  border-right: 1.7rem solid transparent;
}
/* line 268 */
.prediction-set.yellow {
  background-color: #f4bb15;
}
/* line 80 */
.prediction-set.yellow > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.yellow > .angle.left {
  left: 0;
  border-top: 17rem solid #f4bb15;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.yellow > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #f4bb15;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.yellow > .angle.right {
  right: 0;
  border-bottom: 17rem solid #f4bb15;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.yellow > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #f4bb15;
  border-right: 1.7rem solid transparent;
}
/* line 269 */
.prediction-set.green {
  background-color: #039b67;
}
/* line 80 */
.prediction-set.green > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.green > .angle.left {
  left: 0;
  border-top: 17rem solid #039b67;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.green > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #039b67;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.green > .angle.right {
  right: 0;
  border-bottom: 17rem solid #039b67;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.green > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #039b67;
  border-right: 1.7rem solid transparent;
}
/* line 270 */
.prediction-set.orange {
  background-color: #d79003;
}
/* line 80 */
.prediction-set.orange > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.orange > .angle.left {
  left: 0;
  border-top: 17rem solid #d79003;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.orange > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #d79003;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.orange > .angle.right {
  right: 0;
  border-bottom: 17rem solid #d79003;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set.orange > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #d79003;
  border-right: 1.7rem solid transparent;
}
/* line 271 */
.prediction-set > .angle {
  width: 1rem !important;
  top: 1rem !important;
}
/* line 276 */
.prediction-set > .inner {
  margin: 0;
  padding: 0 1rem 0 0;
  position: relative;
  padding-right: 2.7rem;
  height: 17rem;
  background-color: #ddd;
  width: 99rem;
}
/* line 86 */
.prediction-set > .inner.blue > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.blue > .angle.left {
  left: 0;
  border-top: 17rem solid #2a81c4;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.blue > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #2a81c4;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.blue > .angle.right {
  right: 0;
  border-bottom: 17rem solid #2a81c4;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.blue > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #2a81c4;
  border-right: 1.7rem solid transparent;
}
/* line 86 */
.prediction-set > .inner.red > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.red > .angle.left {
  left: 0;
  border-top: 17rem solid #e54236;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.red > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #e54236;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.red > .angle.right {
  right: 0;
  border-bottom: 17rem solid #e54236;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.red > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #e54236;
  border-right: 1.7rem solid transparent;
}
/* line 86 */
.prediction-set > .inner.yellow > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.yellow > .angle.left {
  left: 0;
  border-top: 17rem solid #f4bb15;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.yellow > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #f4bb15;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.yellow > .angle.right {
  right: 0;
  border-bottom: 17rem solid #f4bb15;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.yellow > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #f4bb15;
  border-right: 1.7rem solid transparent;
}
/* line 86 */
.prediction-set > .inner.green > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.green > .angle.left {
  left: 0;
  border-top: 17rem solid #039b67;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.green > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #039b67;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.green > .angle.right {
  right: 0;
  border-bottom: 17rem solid #039b67;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.green > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #039b67;
  border-right: 1.7rem solid transparent;
}
/* line 86 */
.prediction-set > .inner.orange > .angle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
}
/* line 85, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.orange > .angle.left {
  left: 0;
  border-top: 17rem solid #d79003;
  border-right: 1.7rem solid transparent;
}
/* line 90, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.orange > .angle.hang-left {
  left: -1.7rem;
  border-bottom: 17rem solid #d79003;
  border-left: 1.7rem solid transparent;
}
/* line 95, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.orange > .angle.right {
  right: 0;
  border-bottom: 17rem solid #d79003;
  border-left: 1.7rem solid transparent;
}
/* line 100, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.prediction-set > .inner.orange > .angle.hang-right {
  right: -1.7rem;
  border-top: 17rem solid #d79003;
  border-right: 1.7rem solid transparent;
}
/* line 293 */
.prediction-set .prediction {
  float: left;
  margin-left: 4rem;
}

/* line 300 */
.strip.blue {
  background-color: #2a81c4;
}
/* line 301 */
.strip.red {
  background-color: #e54236;
}
/* line 302 */
.strip.yellow {
  background-color: #f4bb15;
}
/* line 303 */
.strip.green {
  background-color: #039b67;
}
/* line 304 */
.strip.orange {
  background-color: #d79003;
}

/* line 307 */
.triple {
  background-color: #ddd;
}
/* line 309 */
.triple .content {
  overflow: visible !important;
}

/* line 315 */
.photo {
  background-image: url(../../img/profile.jpeg);
  background-position: center center;
  background-size: cover;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  display: inline-block !important;
}
