@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 30, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/animations.scss */
.fade-in-up {
  -webkit-animation-name: fade-in-up;
  animation-name: fade-in-up;
}

/* line 3, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 9, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.upper {
  text-transform: uppercase;
}

/* line 30, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 13, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Open Sans", Helvetica, Ariel sans-serif;
}

/* line 19, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
body, html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #111;
}

/* line 26, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
p, label {
  margin-bottom: 0.3125rem;
  font-family: "Open Sans", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}

/* line 34, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
pre {
  margin: 1rem 0;
  padding: 1rem;
  background-color: white;
  font-family: monospace;
}

/* line 41, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
ul li {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

/* line 46, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
em {
  font-style: italic;
}

/* line 48, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
strong, .bold {
  font-weight: 700;
}

/* line 50, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
img {
  max-width: 100%;
}

/* line 54, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
a, a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 59, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h1, .h1, .prediction.featured .text {
  font-family: "Roboto Slab", Georgia, serif;
  font-size: 2.75rem;
  line-height: 3.5rem;
}

/* line 64, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h2, .h2, .faceoff-wrapper .question, .set-wrapper .question, .prediction.tall-2 .text {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 3rem;
}

/* line 70, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h3, .h3, .prediction.wide-2 .text, .prediction.tall-3-2 .text {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

/* line 76, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h4, .h4 {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
}

/* line 82, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h5, .h5, .logo {
  font-family: "Open Sans", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 0.625rem;
}

/* line 89, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h6, .h6, .prediction .voting .options li .option {
  font-family: "Open Sans", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
}

/* line 96, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
input, textarea {
  @extends .h6;
  padding: 0.5rem 1rem;
  margin: 0;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  width: 10rem;
  -webkit-transition: 0.2s 0 ease all;
  -moz-transition: 0.2s 0 ease all;
  -o-transition: 0.2s 0 ease all;
  transition: 0.2s 0 ease all;
}
/* line 106, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
  @extends .h6;
}
/* line 113, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
input.stretch, textarea.stretch {
  width: 2.5rem;
  padding-left: 1.75rem;
}
/* line 117, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
input.stretch:focus, textarea.stretch:focus {
  width: 10rem;
  padding-left: 2.25rem;
}

@media screen and (min-width: 1921px) {
  /* line 125, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1920px) {
  /* line 131, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1440px) {
  /* line 137, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 143, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  /* line 149, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 11px;
  }
}
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 30, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/animations.scss */
.fade-in-up {
  -webkit-animation-name: fade-in-up;
  animation-name: fade-in-up;
}

/* line 3, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 9, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.upper {
  text-transform: uppercase;
}

/* line 30, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 13, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Open Sans", Helvetica, Ariel sans-serif;
}

/* line 19, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
body, html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #111;
}

/* line 26, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
p, label {
  margin-bottom: 0.3125rem;
  font-family: "Open Sans", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}

/* line 34, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
pre {
  margin: 1rem 0;
  padding: 1rem;
  background-color: white;
  font-family: monospace;
}

/* line 41, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
ul li {
  font-size: 1.2rem;
  line-height: 1.9rem;
}

/* line 46, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
em {
  font-style: italic;
}

/* line 48, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
strong, .bold {
  font-weight: 700;
}

/* line 50, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
img {
  max-width: 100%;
}

/* line 54, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
a, a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 59, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h1, .h1, .prediction.featured .text {
  font-family: "Roboto Slab", Georgia, serif;
  font-size: 2.75rem;
  line-height: 3.5rem;
}

/* line 64, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h2, .h2, .faceoff-wrapper .question, .set-wrapper .question, .prediction.tall-2 .text {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 3rem;
}

/* line 70, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h3, .h3, .prediction.wide-2 .text, .prediction.tall-3-2 .text {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

/* line 76, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h4, .h4 {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
}

/* line 82, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h5, .h5, .logo {
  font-family: "Open Sans", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 0.625rem;
}

/* line 89, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
h6, .h6, .prediction .voting .options li .option {
  font-family: "Open Sans", Helvetica, Ariel sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
}

/* line 96, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
input, textarea {
  @extends .h6;
  padding: 0.5rem 1rem;
  margin: 0;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  width: 10rem;
  -webkit-transition: 0.2s 0 ease all;
  -moz-transition: 0.2s 0 ease all;
  -o-transition: 0.2s 0 ease all;
  transition: 0.2s 0 ease all;
}
/* line 106, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder {
  @extends .h6;
}
/* line 113, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
input.stretch, textarea.stretch {
  width: 2.5rem;
  padding-left: 1.75rem;
}
/* line 117, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
input.stretch:focus, textarea.stretch:focus {
  width: 10rem;
  padding-left: 2.25rem;
}

@media screen and (min-width: 1921px) {
  /* line 125, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1920px) {
  /* line 131, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1440px) {
  /* line 137, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 143, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  /* line 149, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/base.scss */
  html, body {
    font-size: 11px;
  }
}
/* line 4, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/navbar.scss */
.navbar {
  height: 4rem;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 500;
  box-shadow: 0 0 1rem black;
}
/* line 11, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/navbar.scss */
.navbar nav {
  max-width: 65rem;
  margin: 0 auto;
  width: 95%;
  padding: 0 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/navbar.scss */
.logo {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0.75rem;
  display: inline-block;
}
/* line 26, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/navbar.scss */
.logo span {
  text-align: justify;
  width: 4rem;
  line-height: 0.75rem;
  display: block;
}
/* line 32, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/navbar.scss */
.logo .p {
  font-size: 1.125rem;
  line-height: 1.25rem;
}
/* line 36, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/navbar.scss */
.logo .t {
  font-size: 0.95rem;
  margin-top: -1rem;
}

/* line 42, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/navbar.scss */
.categories {
  display: inline-block;
  vertical-align: top;
}
/* line 46, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/navbar.scss */
.categories li {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0 1rem;
}

/* line 53, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/navbar.scss */
.sign-up, .search {
  float: right;
  font-size: 0.8rem;
  margin-top: 1rem;
}

/* line 59, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/navbar.scss */
.search {
  position: relative;
  margin-right: 1rem;
}
/* line 63, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/navbar.scss */
.search i {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  line-height: 1.2rem;
  vertical-align: middle;
  -webkit-transition: 0.2s 0 ease all;
  -moz-transition: 0.2s 0 ease all;
  -o-transition: 0.2s 0 ease all;
  transition: 0.2s 0 ease all;
}
/* line 72, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/navbar.scss */
.search .stretch:focus i {
  color: transparent !important;
}

/* line 16 */
html, body {
  background-color: #e5e5e5;
  position: relative;
}

/* line 21 */
.button {
  background-color: #2a81c4;
  color: white;
  width: auto;
  display: inline-block;
  border: 1px solid #2a81c4;
  padding: 0.5rem 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 73, /Users/dan/Dropbox/Clients/Pundit Tracker/frontpage/static/scss/utils.scss */
.button:hover {
  color: #f5f5f5;
}

/* line 25 */
.content {
  z-index: 80;
  position: absolute;
  width: 100%;
  overflow-x: hidden;
}
/* line 31 */
.content > .card-grid {
  width: 95%;
}

/* line 36 */
.blue {
  background-color: #2a81c4;
}

/* line 37 */
.red {
  background-color: #e54236;
}

/* line 38 */
.yellow {
  background-color: #f4bb15;
}

/* line 39 */
.yellow-green {
  background-color: #FF5900;
}

/* line 40 */
.green {
  background-color: #039b67;
}

/* line 41 */
.orange {
  background-color: #d79003;
}

/* line 44 */
.hero {
  height: 80vh;
  margin: 0 auto;
  width: 100%;
  z-index: 100;
  padding-top: 4rem;
  padding-bottom: 2rem;
  position: relative;
}
/* line 53 */
.hero.fixed {
  height: 30rem;
  width: 85rem;
}
/* line 58 */
.hero.fixed.done {
  max-width: 100%;
}
/* line 62 */
.hero.fixed .featured {
  height: 30rem;
}
/* line 67 */
.hero > .background {
  box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3);
  top: 4rem;
  bottom: 2rem;
  position: absolute;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  width: 100%;
  overflow-x: hidden;
}
/* line 78 */
.hero > .background .scrim {
  background: -moz-linear-gradient(top, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 0.25) 55%, rgba(221, 221, 221, 0.25) 55%, #dddddd 100%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(221, 221, 221, 0)), color-stop(55%, rgba(221, 221, 221, 0.25)), color-stop(55%, rgba(221, 221, 221, 0.25)), color-stop(100% #dddddd), color-stop(100% #dddddd));
  background: -webkit-linear-gradient(top, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 0.25) 55%, rgba(221, 221, 221, 0.25) 55%, #dddddd 100%, #dddddd 100%);
  background: -o-linear-gradient(top, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 0.25) 55%, rgba(221, 221, 221, 0.25) 55%, #dddddd 100%, #dddddd 100%);
  background: -ms-linear-gradient(top, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 0.25) 55%, rgba(221, 221, 221, 0.25) 55%, #dddddd 100%, #dddddd 100%);
  background: linear-gradient(to bottom, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 0.25) 55%, rgba(221, 221, 221, 0.25) 55%, #dddddd 100%, #dddddd 100%);
}
/* line 83 */
.hero .right {
  z-index: 200;
}

/* line 87 */
.scrim {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 60;
}

/* line 95 */
.card-grid {
  max-width: 65rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
/* line 99 */
.card-grid > div {
  padding: 0 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 108 */
.card-grid .card-grid {
  z-index: 200;
  width: 100%;
}
/* line 111 */
.card-grid .card-grid:last-child {
  margin: 0;
}
/* line 114 */
.card-grid .card-grid > div {
  padding: 0;
  margin: 0;
}
/* line 117 */
.card-grid .card-grid > div:not(:last-child) {
  padding-right: 0.75rem;
}
/* line 120 */
.card-grid .card-grid > div:not(:first-child) {
  padding-left: 0.75rem;
}

/* line 127 */
.with-image {
  position: relative;
  max-width: 65rem;
  width: 100%;
  margin: 0 auto;
}
/* line 133 */
.with-image .background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  top: -15rem;
  left: 50%;
  overflow: visible;
  height: 61.5rem;
  width: 100rem;
  margin-left: -50rem;
}
/* line 145 */
.with-image .background .scrim {
  background: -moz-linear-gradient(top, #dddddd 0%, rgba(221, 221, 221, 0.25) 20%, rgba(221, 221, 221, 0.01) 50%, rgba(221, 221, 221, 0.25) 70%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(20%, rgba(221, 221, 221, 0.25)), color-stop(50%, rgba(221, 221, 221, 0.01)), color-stop(70% rgba(221, 221, 221, 0.25)), color-stop(100% #dddddd));
  background: -webkit-linear-gradient(top, #dddddd 0%, rgba(221, 221, 221, 0.25) 20%, rgba(221, 221, 221, 0.01) 50%, rgba(221, 221, 221, 0.25) 70%, #dddddd 100%);
  background: -o-linear-gradient(top, #dddddd 0%, rgba(221, 221, 221, 0.25) 20%, rgba(221, 221, 221, 0.01) 50%, rgba(221, 221, 221, 0.25) 70%, #dddddd 100%);
  background: -ms-linear-gradient(top, #dddddd 0%, rgba(221, 221, 221, 0.25) 20%, rgba(221, 221, 221, 0.01) 50%, rgba(221, 221, 221, 0.25) 70%, #dddddd 100%);
  background: linear-gradient(to bottom, #dddddd 0%, rgba(221, 221, 221, 0.25) 20%, rgba(221, 221, 221, 0.01) 50%, rgba(221, 221, 221, 0.25) 70%, #dddddd 100%);
}

/* line 151 */
.faceoff-outer {
  margin: 2rem 0;
}

/* line 155 */
.faceoff-wrapper {
  color: white;
}
/* line 157 */
.faceoff-wrapper .background {
  background-image: url(../../img/football.jpg);
}

/* line 163 */
.set-wrapper .background {
  background-image: url(../../img/hero.jpg);
}
/* line 166 */
.set-wrapper .card-grid {
  padding: 2rem 0 5rem;
}

/* line 171 */
.faceoff-wrapper, .set-wrapper {
  position: relative;
  margin: 0 -10.75rem;
  padding: 0 10.75rem;
  box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3);
}
/* line 176 */
.faceoff-wrapper .question, .set-wrapper .question {
  color: white;
  position: relative;
  height: 4rem;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 5rem 0 0;
  z-index: 500;
  text-shadow: 2px 2px 3px black;
}
/* line 188 */
.faceoff-wrapper .background, .set-wrapper .background {
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
/* line 197 */
.faceoff-wrapper .background .scrim, .set-wrapper .background .scrim {
  background-color: rgba(0, 0, 0, 0.15);
}

/* line 203 */
.featured-users, .featured-pundits, .featured-blog-posts {
  height: 23.25rem;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19);
}
/* line 207 */
.featured-users > .title-wrapper, .featured-pundits > .title-wrapper, .featured-blog-posts > .title-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 7.25rem;
  padding: 1rem;
  position: relative;
}
/* line 217 */
.featured-users > .title-wrapper > .title, .featured-pundits > .title-wrapper > .title, .featured-blog-posts > .title-wrapper > .title {
  position: absolute;
  bottom: 1rem;
  margin: 0;
  color: white;
  text-shadow: 2px 2px 3px black;
}
/* line 226 */
.featured-users ul, .featured-pundits ul, .featured-blog-posts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 234 */
.featured-blog-posts > .title-wrapper {
  height: 5.25rem !important;
}
/* line 238 */
.featured-blog-posts .blog-post {
  height: 6rem;
  width: 100%;
  background-color: white;
  padding: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 245 */
.featured-blog-posts .blog-post:hover {
  background-color: #f5f5f5;
}
/* line 248 */
.featured-blog-posts .blog-post:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
}
/* line 251 */
.featured-blog-posts .blog-post h4 {
  margin: 0;
  line-height: 1.5rem;
}
/* line 255 */
.featured-blog-posts .blog-post h6 {
  margin-top: 0.25rem;
}

/* line 261 */
.facebook {
  height: 23.25rem;
  height: 15rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19);
  position: relative;
  background: white;
  background: -moz-radial-gradient(50% 11rem, circle cover, rgba(59, 89, 152, 0.01) 0%, rgba(59, 89, 152, 0.1) 15%, rgba(59, 89, 152, 0.4) 35%, rgba(59, 89, 152, 0.6) 45%, #3b5998 60%, #3b5998 100%);
  background: -webkit-gradient(radial, 50% 11rem, 0px, 50% 11rem, 100%, color-stop(0%, rgba(59, 89, 152, 0.01)), color-stop(15%, rgba(59, 89, 152, 0.1)), color-stop(35%, rgba(59, 89, 152, 0.4)), color-stop(45%, rgba(59, 89, 152, 0.6)), color-stop(60%, #3b5998), color-stop(100%, #3b5998));
  background: -webkit-radial-gradient(50% 11rem, circle cover, rgba(59, 89, 152, 0.01) 0%, rgba(59, 89, 152, 0.1) 15%, rgba(59, 89, 152, 0.4) 35%, rgba(59, 89, 152, 0.6) 45%, #3b5998 60%, #3b5998 100%);
  background: -o-radial-gradient(50% 11rem, circle cover, rgba(59, 89, 152, 0.01) 0%, rgba(59, 89, 152, 0.1) 15%, rgba(59, 89, 152, 0.4) 35%, rgba(59, 89, 152, 0.6) 45%, #3b5998 60%, #3b5998 100%);
  background: -ms-radial-gradient(50% 11rem, circle cover, rgba(59, 89, 152, 0.01) 0%, rgba(59, 89, 152, 0.1) 15%, rgba(59, 89, 152, 0.4) 35%, rgba(59, 89, 152, 0.6) 45%, #3b5998 60%, #3b5998 100%);
  background: radial-gradient(circle at 50% 11rem, rgba(59, 89, 152, 0.01) 0%, rgba(59, 89, 152, 0.1) 15%, rgba(59, 89, 152, 0.4) 35%, rgba(59, 89, 152, 0.6) 45%, #3b5998 60%, #3b5998 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3b5897', GradientType=1 );
}
/* line 267 */
.facebook .title-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.75rem;
  height: 7.25rem;
  color: white;
}
/* line 272 */
.facebook .title-wrapper h3, .facebook .title-wrapper h2 {
  margin: 0;
}
/* line 276 */
.facebook > .fb-wrapper {
  text-align: center;
  position: absolute;
  top: 7.25rem;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 500;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 286 */
.facebook > .fb-wrapper > .inner {
  position: absolute;
  height: 8rem;
  margin-top: -4rem;
  width: 100%;
  top: 50%;
}

/* line 296 */
.prediction {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19);
  z-index: 200;
  background-color: white;
  padding: 0.75rem;
  height: 15rem;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /**************
   * Variations *
   **************/
}
/* line 307 */
.prediction .text {
  margin: 0;
}
/* line 310 */
.prediction .background {
  width: 100%;
  background-position: center center;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
/* line 320 */
.prediction .pundit {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 325 */
.prediction .scrim {
  background: -moz-linear-gradient(top, rgba(50, 50, 50, 0) 0%, rgba(50, 50, 50, 0.25) 55%, rgba(50, 50, 50, 0.25) 55%, #323232 100%, #323232 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(50, 50, 50, 0)), color-stop(55%, rgba(50, 50, 50, 0.25)), color-stop(55%, rgba(50, 50, 50, 0.25)), color-stop(100% #323232), color-stop(100% #323232));
  background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0) 0%, rgba(50, 50, 50, 0.25) 55%, rgba(50, 50, 50, 0.25) 55%, #323232 100%, #323232 100%);
  background: -o-linear-gradient(top, rgba(50, 50, 50, 0) 0%, rgba(50, 50, 50, 0.25) 55%, rgba(50, 50, 50, 0.25) 55%, #323232 100%, #323232 100%);
  background: -ms-linear-gradient(top, rgba(50, 50, 50, 0) 0%, rgba(50, 50, 50, 0.25) 55%, rgba(50, 50, 50, 0.25) 55%, #323232 100%, #323232 100%);
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0) 0%, rgba(50, 50, 50, 0.25) 55%, rgba(50, 50, 50, 0.25) 55%, #323232 100%, #323232 100%);
}
/* line 328 */
.prediction .voting {
  z-index: 500;
  height: 2rem;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 4rem;
  width: 100%;
  -webkit-transition: 0.2s 0 ease all;
  -moz-transition: 0.2s 0 ease all;
  -o-transition: 0.2s 0 ease all;
  transition: 0.2s 0 ease all;
}
/* line 338 */
.prediction .voting .prompt {
  text-transform: uppercase;
  position: absolute;
  display: none;
  top: -1rem;
  font-size: 0.8rem;
  line-height: 4rem;
  height: 4rem;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  color: #111;
}
/* line 351 */
.prediction .voting .options {
  margin-top: 1px;
  border-top: 1px solid #f5f5f5;
  height: 2rem;
  line-height: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 3000;
  -webkit-transition: 0.2s 0 ease all;
  -moz-transition: 0.2s 0 ease all;
  -o-transition: 0.2s 0 ease all;
  transition: 0.2s 0 ease all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
}
/* line 367 */
.prediction .voting .options li {
  width: 25%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  height: 2rem;
}
/* line 373 */
.prediction .voting .options li:hover {
  color: #111;
  background-color: #f5f5f5;
}
/* line 377 */
.prediction .voting .options li:not(:last-child) {
  border-right: 1px solid #f5f5f5;
}
/* line 380 */
.prediction .voting .options li .option {
  line-height: 2rem;
  vertical-align: top;
}
/* line 389 */
.prediction:hover .voting .options {
  top: 0;
}
/* line 397 */
.prediction.faceoff {
  background-color: transparent;
  position: relative;
  padding: 3rem;
  text-shadow: 2px 2px 3px black;
}
/* line 402 */
.prediction.faceoff > .pundit {
  border: 0;
  top: 0;
  position: relative;
  background-color: transparent;
}
/* line 407 */
.prediction.faceoff > .pundit .text-wrapper {
  left: 0;
  color: white;
}
/* line 411 */
.prediction.faceoff > .pundit .photo {
  height: 6rem;
  width: 6rem;
  border-radius: 6rem;
}
/* line 416 */
.prediction.faceoff > .pundit .name {
  font-size: 2rem;
  line-height: 2.5rem;
}
/* line 420 */
.prediction.faceoff > .pundit .source {
  font-size: 1.5rem;
}
/* line 424 */
.prediction.faceoff > .text {
  margin-top: 2.5rem;
}
/* line 429 */
.prediction.faceoff.left .pundit .photo {
  position: absolute;
  left: -7rem;
  top: -1rem;
  margin-left: 1rem;
}
/* line 438 */
.prediction.faceoff.right .text {
  text-align: right;
}
/* line 442 */
.prediction.faceoff.right .pundit .photo {
  position: absolute;
  right: -7rem;
  top: -1rem;
}
/* line 447 */
.prediction.faceoff.right .pundit .text-wrapper {
  left: auto;
  width: 100%;
  float: right;
  text-align: right;
}
/* line 461 */
.prediction.tall-3-2 {
  height: 23.25rem;
}
/* line 467 */
.prediction.tall-2 {
  color: white;
  height: 31.5rem;
}
/* line 470 */
.prediction.tall-2 .prompt {
  color: white;
}
/* line 473 */
.prediction.tall-2 .background {
  background-image: url(../../img/vertical.jpg);
  display: block;
}
/* line 478 */
.prediction.tall-2 .pundit {
  background-color: transparent !important;
  color: white;
}
/* line 482 */
.prediction.tall-2 .text-wrapper {
  color: white;
}
/* line 485 */
.prediction.tall-2 .text {
  position: absolute;
  text-shadow: 2px 2px 3px black;
  bottom: 6.75rem;
  left: 0.75rem;
  right: 0.75rem;
  z-index: 300;
}
/* line 495 */
.prediction.tall-2 .options, .prediction.tall-2 .options li {
  border: 0 !important;
}
/* line 498 */
.prediction.tall-2 .option {
  text-shadow: 2px 2px 3px black;
}
/* line 501 */
.prediction.tall-2 .options li:hover .option {
  text-shadow: none;
}
/* line 505 */
.prediction.featured {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 2px 2px 3px black;
  position: absolute;
  bottom: 2rem;
  width: 50%;
}
/* line 513 */
.prediction.featured .text {
  position: absolute;
  bottom: 7rem;
  left: 1rem;
  right: 1rem;
}
/* line 522 */
.prediction.featured .pundit {
  background-color: transparent !important;
  bottom: 0;
}
/* line 525 */
.prediction.featured .pundit .text-wrapper {
  height: 5rem;
  color: white;
  left: 4rem;
  text-shadow: 2px 2px 3px black;
}
/* line 531 */
.prediction.featured .pundit .name, .prediction.featured .pundit .source {
  text-shadow: 2px 2px 3px black;
}
/* line 536 */
.prediction.featured .voting .prompt {
  color: white;
  text-shadow: 2px 2px 3px black;
}
/* line 540 */
.prediction.featured .voting .options, .prediction.featured .voting .options li {
  border: 0 !important;
}
/* line 543 */
.prediction.featured .voting .option {
  text-shadow: 2px 2px 3px black;
}
/* line 546 */
.prediction.featured .voting .options li:hover .option {
  text-shadow: none;
}
/* line 551 */
.prediction.no-box {
  background-color: rgba(0, 0, 0, 0.2) !important;
  padding-bottom: 1rem;
  height: 31.5rem;
  border: 1rem solid white;
}
/* line 553 */
.prediction.no-box .background {
  display: none;
}
/* line 560 */
.prediction.no-box .text {
  width: 50%;
}

/* line 567 */
.pundit {
  position: relative;
  height: 4rem;
  background-color: #f5f5f5;
  width: 100%;
  color: #111;
  z-index: 700;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 576 */
.pundit .grade {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 4rem;
  width: 4rem;
  color: white;
  text-align: center;
  overflow: hidden;
  -webkit-transition: 0.2s 0 ease all;
  -moz-transition: 0.2s 0 ease all;
  -o-transition: 0.2s 0 ease all;
  transition: 0.2s 0 ease all;
}
/* line 588 */
.pundit .grade .average {
  font-size: 0.7rem;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 1rem;
  left: 0;
  bottom: -1rem;
  -webkit-transition: 0.2s 0 ease all;
  -moz-transition: 0.2s 0 ease all;
  -o-transition: 0.2s 0 ease all;
  transition: 0.2s 0 ease all;
}
/* line 599 */
.pundit .grade .letter {
  top: 0rem;
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s 0 ease all;
  -moz-transition: 0.2s 0 ease all;
  -o-transition: 0.2s 0 ease all;
  transition: 0.2s 0 ease all;
  font-size: 1.5rem;
  line-height: 4rem;
  vertical-align: middle;
}
/* line 611 */
.pundit .grade:hover .letter {
  top: -0.5rem;
}
/* line 614 */
.pundit .grade:hover .average {
  bottom: 0;
}
/* line 619 */
.pundit .photo {
  background-image: url(../../img/profile.jpeg);
  background-position: center center;
  background-size: cover;
  height: 4rem;
  width: 4rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
/* line 629 */
.pundit .text-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 3.5rem;
  right: 4rem;
  height: 4rem;
  color: #111;
}
/* line 638 */
.pundit .text-wrapper .name {
  margin: 0;
}
/* line 641 */
.pundit .text-wrapper .source {
  margin: 0.25rem 0 0;
}
/* line 646 */
.pundit:hover .grade {
  top: 0;
}

/* line 652 */
.category-link {
  background-color: #2a81c4;
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19);
  z-index: 200;
  padding: 0.75rem;
  height: 15rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-image: url(../../img/hero.jpg);
}
/* line 664 */
.category-link h2 {
  position: absolute;
  right: 1rem;
  left: 1rem;
  text-shadow: 2px 2px 3px black;
  z-index: 1000;
  line-height: 3rem;
  margin: 0;
}
/* line 673 */
.category-link h2 + a h2 {
  bottom: 1rem;
  text-decoration: underline !important;
}
/* line 677 */
.category-link h2 + a i {
  text-decoration: underline !important;
}
/* line 683 */
.category-link .scrim {
  background: -moz-linear-gradient(top, rgba(50, 50, 50, 0) 0%, rgba(50, 50, 50, 0.25) 55%, rgba(50, 50, 50, 0.25) 55%, #323232 100%, #323232 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(50, 50, 50, 0)), color-stop(55%, rgba(50, 50, 50, 0.25)), color-stop(55%, rgba(50, 50, 50, 0.25)), color-stop(100% #323232), color-stop(100% #323232));
  background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0) 0%, rgba(50, 50, 50, 0.25) 55%, rgba(50, 50, 50, 0.25) 55%, #323232 100%, #323232 100%);
  background: -o-linear-gradient(top, rgba(50, 50, 50, 0) 0%, rgba(50, 50, 50, 0.25) 55%, rgba(50, 50, 50, 0.25) 55%, #323232 100%, #323232 100%);
  background: -ms-linear-gradient(top, rgba(50, 50, 50, 0) 0%, rgba(50, 50, 50, 0.25) 55%, rgba(50, 50, 50, 0.25) 55%, #323232 100%, #323232 100%);
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0) 0%, rgba(50, 50, 50, 0.25) 55%, rgba(50, 50, 50, 0.25) 55%, #323232 100%, #323232 100%);
}

/* line 688 */
footer {
  background-color: #2a81c4;
  color: white;
  padding: 2rem 0 4rem;
  margin-top: 2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 695 */
footer > .card-grid {
  max-width: 95%;
  width: 65rem;
  margin: 0 auto;
}
/* line 700 */
footer ul {
  padding: 0.75rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 705 */
footer ul ul {
  margin-left: 1rem;
}
/* line 709 */
footer .double {
  border-bottom: 1px solid white;
  margin-bottom: 0.5rem;
  width: 50%;
}
