{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{%- block css -%}
{{ super() }}
{% assets "scss_grid" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{%- endblock -%}
{%- block bodyJs -%}
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{%- endblock -%}

{% block navbarClass %}{%endblock%}
{%- block body -%}
{% call macros.navbar(self.navbarClass()) %}
{% if request.args.get('login') == 'yes' %}
<a class="sign-up button" href="{{ url_for('predict', login=request.args.get('login')) }}">Predict!</a>
{% else %}
<a class="sign-up button" href="{{ url_for('grid', login='yes') }}">Sign Up / Log in</a>
{% endif %}
{% endcall %}
{% block main %}
<div class="hero fixed done">
    <div class="pure-g card-grid">
        <div class="pure-u-2-3">{{ macros.march_madness() }}</div>
        <div class="pure-u-1-3">
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.small_feature(0) }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.small_feature(1) }}</div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <script type="text/javascript" src="{{ url_for('static', filename='js/grid.js') }}"></script>

    <div class="pure-g card-grid">
        <div class="pure-u-1-3">{{ macros.prediction() }}</div>
        <div class="pure-u-1-3">{{ macros.prediction() }}</div>
        <div class="pure-u-1-3">{{ macros.prediction() }}</div>
    </div>
    <div class="pure-g card-grid">
        <div class="pure-u-2-3">
            <div class="pure-g card-grid">
                <div class="pure-u-1-2">{{ macros.prediction('tall-2') }}</div>
                <div class="pure-u-1-2">
                    <div class="pure-g card-grid">
                        <div class="pure-u-1-1">{{ macros.prediction() }}</div>
                    </div>
                    <div class="pure-g card-grid">
                        <div class="pure-u-1-1">{{ macros.prediction() }}</div>
                    </div>
                </div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1-2">{{ macros.prediction() }}</div>
                <div class="pure-u-1-2">{{ macros.prediction() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction('wide-2') }}</div>
            </div>

        </div>
        <div class="pure-u-1-3">
            <div class="pure-g card-grid">
                <div class="pure-u-1-1">{{ macros.blog_posts() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1-1">{{ macros.featured_users() }}</div>
            </div>
        </div>
    </div>
    <div class="pure-g card-grid">
        <div class="pure-u-1 faceoff-outer">
            {{ macros.set() }}
        </div>
    </div>
    <div class="pure-g card-grid">
        <div class="pure-u-1-3">
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction('tall-3-2') }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.facebook() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction('tall-3-2') }}</div>
            </div>
        </div>
        <div class="pure-u-2-3">
            <div class="pure-g card-grid">
                <div class="pure-u-1-2">{{ macros.category_link() }}</div>
                <div class="pure-u-1-2">{{ macros.prediction() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1-2">
                    <div class="pure-g card-grid">
                        <div class="pure-u-1">{{ macros.prediction() }}</div>
                    </div>
                    <div class="pure-g card-grid">
                        <div class="pure-u-1">{{ macros.prediction() }}</div>
                    </div>
                </div>
                <div class="pure-u-1-2">{{ macros.prediction('tall-2') }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction('wide-2') }}</div>
            </div>
        </div>
    </div>
    <div class="pure-g card-grid">
        <div class="pure-u-1 faceoff-outer">
            {{ macros.set() }}
        </div>
    </div>
    <div class="pure-g card-grid">
        <div class="pure-u-1-3">
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.featured_pundits() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction('tall-3-2') }}</div>
            </div>
        </div>
        <div class="pure-u-2-3">
            <div class="pure-g card-grid">
                <div class="pure-u-1-2">{{ macros.prediction() }}</div>
                <div class="pure-u-1-2">{{ macros.prediction() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction('wide-2') }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1-2">
                    <div class="pure-g card-grid">
                        <div class="pure-u-1">{{ macros.prediction() }}</div>
                    </div>
                    <div class="pure-g card-grid">
                        <div class="pure-u-1">{{ macros.prediction() }}</div>
                    </div>
                </div>
                <div class="pure-u-1-2">{{ macros.prediction('tall-2') }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1-2">{{ macros.category_link() }}</div>
                <div class="pure-u-1-2">{{ macros.prediction() }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{{ macros.footer() }}
{%- endblock -%}