{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{%- block css -%}
{{ super() }}
{% assets "scss_grid" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{%- endblock -%}
{%- block bodyJs -%}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{%- endblock -%}

{%- block body -%}
{{ macros.navbar() }}
<div class="hero fixed done">
    <div class="background" style="background-image:url({{ url_for('static', filename='img/callout.jpg') }});">
        <!-- <div class="scrim"></div> -->
    </div>
    <div class="pure-g full">
        <div class="pure-u-1-2"></div>
        <div class="pure-u-1-2 right full">
            {{ macros.prediction('featured') }}
        </div>
    </div>
</div>
<div class="content">
    <div class="pure-g card-grid">
        <div class="pure-u-1-3">{{ macros.prediction() }}</div>
        <div class="pure-u-1-3">{{ macros.prediction() }}</div>
        <div class="pure-u-1-3">{{ macros.prediction() }}</div>
    </div>
    <div class="pure-g card-grid">
        <div class="pure-u-2-3">
            <div class="pure-g card-grid">
                <div class="pure-u-1-2">{{ macros.prediction('tall-2') }}</div>
                <div class="pure-u-1-2">
                    <div class="pure-g card-grid">
                        <div class="pure-u-1-1">{{ macros.prediction() }}</div>
                    </div>
                    <div class="pure-g card-grid">
                        <div class="pure-u-1-1">{{ macros.prediction() }}</div>
                    </div>
                </div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1-2">{{ macros.prediction() }}</div>
                <div class="pure-u-1-2">{{ macros.prediction() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction('wide-2') }}</div>
            </div>

        </div>
        <div class="pure-u-1-3">
            <div class="pure-g card-grid">
                <div class="pure-u-1-1">{{ macros.featured_users() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1-1">{{ macros.blog_posts() }}</div>
            </div>
        </div>
    </div>
    <div class="pure-g card-grid">
        <div class="pure-u-1 faceoff-outer">
            {{ macros.set() }}
        </div>
    </div>
    <div class="pure-g card-grid">
        <div class="pure-u-1-3">
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction('tall-3-2') }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.facebook() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction('tall-3-2') }}</div>
            </div>
        </div>
        <div class="pure-u-2-3">
            <div class="pure-g card-grid">
                <div class="pure-u-1-2">{{ macros.category_link() }}</div>
                <div class="pure-u-1-2">{{ macros.prediction() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1-2">
                    <div class="pure-g card-grid">
                        <div class="pure-u-1">{{ macros.prediction() }}</div>
                    </div>
                    <div class="pure-g card-grid">
                        <div class="pure-u-1">{{ macros.prediction() }}</div>
                    </div>
                </div>
                <div class="pure-u-1-2">{{ macros.prediction('tall-2') }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction('wide-2') }}</div>
            </div>
        </div>
    </div>
    <div class="pure-g card-grid">
        <div class="pure-u-1 faceoff-outer">
            {{ macros.faceoff() }}
        </div>
    </div>
    <div class="pure-g card-grid">
        <div class="pure-u-1-3">
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.featured_pundits() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction('tall-3-2') }}</div>
            </div>
        </div>
        <div class="pure-u-2-3">
            <div class="pure-g card-grid">
                <div class="pure-u-1-2">{{ macros.prediction() }}</div>
                <div class="pure-u-1-2">{{ macros.prediction() }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1">{{ macros.prediction('wide-2') }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1-2">
                    <div class="pure-g card-grid">
                        <div class="pure-u-1">{{ macros.prediction() }}</div>
                    </div>
                    <div class="pure-g card-grid">
                        <div class="pure-u-1">{{ macros.prediction() }}</div>
                    </div>
                </div>
                <div class="pure-u-1-2">{{ macros.prediction('tall-2') }}</div>
            </div>
            <div class="pure-g card-grid">
                <div class="pure-u-1-2">{{ macros.category_link() }}</div>
                <div class="pure-u-1-2">{{ macros.prediction() }}</div>
            </div>
        </div>
    </div>
    {{ macros.footer() }}
</div>
{%- endblock -%}