{% set posts = [
    {
        "title": "Why You Should Ignore 2015 Market Forecasts",
        "author": "Tim Howard",
        "image": "basketball.jpg",
        "date": "December 31, 2014",
        "html": post_html,
        "snippet": truncated_html
    }
]%}


{% set predictions = [
    ('WTI Crude Oil will fall below $40 a barrel during 2015', 'Groundhog Gary', 'Shadow', 'green', 'Finance', 'A+'),
    ('Rand Paul will get fewer primary votes in 2016 than his father got in 2012', 'Bill Kristol ', 'ABC: This Week', 'yellow', 'Politics', 'B'),
    ('NCAAF: Alabama will defeat Ohio St in playoff game', 'RNG Roger', 'RNG', 'orange', 'Sports', 'C-'),
    ('NFL: Falcons to Win in Week 16 (ATL @ NO)', 'Pete Prisco', 'CBS', 'red', 'Tech', 'F'),
    ('\'The Hobbit: The Battle of the Five Armies\' will gross $60.3-$73.9 mil this 3-day wknd (Dec 19-21)', 'Todd Thatcher', 'Direct', 'yellow-green', 'Media', 'D+'),
]%}
{% set faceoffs = [
    ('Who is going to take the superbowl?', 'The Patriots will win the superbowl 21-10.', 'Pete Prisco', 'CBS', 'The Broncos will beat the Patriots 14-7.', 'Bill Bigsby', 'FoxSPORTS', 'NFL')
]%}

{% set cats = [
    'http://placekitten.com/800/250',
    'http://placekitten.com/800/400',
    'http://placekitten.com/300/350',
    'http://placekitten.com/300/500',
    'http://placekitten.com/400/450',
    'http://placekitten.com/400/600',
    'http://placekitten.com/500/600',
    'http://placekitten.com/500/700',
    'http://placekitten.com/600/700',
    'http://placekitten.com/600/800'
]%}

{% set heads = [
    url_for('static', filename='img/heads/AlejandroBedoya.jpg'),
    url_for('static', filename='img/heads/AronJohannsson.jpg'),
    url_for('static', filename='img/heads/BradDavis.jpg'),
    url_for('static', filename='img/heads/BradGuzan.jpg'),
    url_for('static', filename='img/heads/ChrisWondolowski.jpg'),
    url_for('static', filename='img/heads/ClintDempsey.jpg'),
    url_for('static', filename='img/heads/DaMarcusBeasley.jpg'),
    url_for('static', filename='img/heads/DeAndreYedlin.jpg'),
    url_for('static', filename='img/heads/FabianJohnson.jpg'),
    url_for('static', filename='img/heads/GeoffCameron.jpg'),
    url_for('static', filename='img/heads/GrahamZusi.jpg'),
    url_for('static', filename='img/heads/JermaineJones.jpg'),
    url_for('static', filename='img/heads/JohnBrooks.jpg'),
    url_for('static', filename='img/heads/JozyAltidore.jpg'),
    url_for('static', filename='img/heads/JulianGreen.jpg'),
    url_for('static', filename='img/heads/KyleBeckerman.jpg'),
    url_for('static', filename='img/heads/MattBesler.jpg'),
    url_for('static', filename='img/heads/MichaelBradley.jpg'),
    url_for('static', filename='img/heads/MixDiskerud.jpg'),
    url_for('static', filename='img/heads/NickRimando.jpg'),
    url_for('static', filename='img/heads/OmarGonzalez.jpg'),
    url_for('static', filename='img/heads/TimHoward.jpg'),
    url_for('static', filename='img/heads/TimmyChandler.jpg')
]%}

{% set tags= ['NFL', 'MLB', 'March Madness', 'Elections']%}

{% macro category_link() %}
<div class="category-link">
    <div class="scrim"></div>
    <h2>The best finance predictions.</h2>
    <a href="#/finance"><h2>Finance Hub <i class="fa fa-long-arrow-right "></i></h2></a>
</div>
{% endmacro %}

{% macro prediction(class) %}
{% with text, name, source, color, category, grade = random(predictions) %}
<div class="prediction v1 {{class}}">
    <div class="background">
        <div class="scrim"></div>
    </div>
    <div class="tags">
        <ul class="inner">
            <li class="category">{{ category }}</li>
            {% for _ in range(random([0,1,2,4,6]))%}
                <li>{{ random(tags) }}</li>
            {% endfor %}
        </ul>
    </div>
    <h4 class="text">{{ text }}</h4>
    <div class="voting">
        <div class="prompt">
            <p><i class="fa fa-bar-chart"></i></p>
        </div>
        <ul class="options">
            <li><a href="#">
                <span class="option">No Way</span>
            </a></li>
            <li><a href="#">
                <span class="option">Unlikely</span>
            </a></li>
            <li><a href="#">
                <span class="option">Likely</span>
            </a></li>
            <li><a href="#">
                <span class="option">Definitely</span>
            </a></li>
        </ul>
    </div>
    {{ pundit(name, source, color, grade) }}
</div>
{% endwith %}
{% endmacro %}

{% macro set() %}
<div class="set-wrapper">
    <div class="background">
        <div class="scrim"></div>
    </div>
    <h3 class="question">The Latest Sports Predictions</h3>
    <div class="pure-g card-grid">
        {% for _ in range(3) %}
        <div class="pure-u-1-3">{{ prediction() }}</div>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro pundit(name, source, color, grade, tag='div') %}
<{{tag}} class="pundit {{color}}">
    <div class="photo" style="background-image:url({{ random(heads) }})"></div>
    <div class="text-wrapper">
        <a href="#/pundit/{{name}}">
            <h5 class="name">{{ name }}</h5>
        </a>
        <a href="#/source/{{source}}">
            <h6 class="source">{{ source }}</h6>
        </a>
    </div>
    <div class="grade {{ color }}">
        <span class="letter">{{ grade}}</span>
        <span class="average">Average</span>
    </div>
</{{tag}}>
{% endmacro %}

{% macro featured_pundits() %}
<div class="featured-pundits">
    <div class="title-wrapper">
        <h2 class="title">Featured Pundits</h2>
    </div>
    <ul>
        {% for _, name, source, color, _, grade in predictions[:4] %}
        {{ pundit(name, source, color, grade, 'li') }}
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro featured_users() %}
<div class="featured-pundits">
    <div class="title-wrapper">
        <h2 class="title">Featured Users</h2>
    </div>
    <ul>
        {% for _, name, source, color, _, grade in predictions[:4] %}
        {{ pundit(name, source, color, grade, 'li') }}
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro facebook() %}
<div class="facebook">
    <div class="title-wrapper">
        <!-- <h2>Pundit Tracker in your feed</h2> -->
        <h3>Like Pundit Tracker<br> on Facebook</h3>
    </div>
    <div class="fb-wrapper">
        <div class="inner">
            <div class="fb-like" data-href="http://www.pundittracker.com/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro blog_posts(title="From our Blog") %}
<div class="featured-blog-posts">
    <div class="title-wrapper">
        <h2 class="title">{{title}}</h2>
    </div>
    <ul>
        <li class="blog-post">
            <a href="">
                <h4>Which Experts Predicted a Royals-Giants World Series?</h4>
                <h6>OCTOBER 19, 2014 | JOE HENDERSON</h6>
            </a>
        </li>
        <li class="blog-post">
            <a href="">
                <h4>If you are going to be wrong, be spectacularly wrong</h4>
                <h6>OCTOBER 19, 2014 | MILES DAVIS</h6>
            </a>
        </li>
        <li class="blog-post">
            <a href="">
                <h4>Is Nate Silver a Wizard or simply Above Average?</h4>
                <h6>OCTOBER 19, 2014 | CHICK CORREA</h6>
            </a>
        </li>
    </ul>
</div>
{% endmacro %}

{% macro faceoff() %}
{% with question, text1, name1, source1, text2, name2, source2, category = random(faceoffs) %}
<div class="faceoff-wrapper">
    <div class="background">
        <div class="scrim"></div>
    </div>
    <h3 class="question">{{ question }}</h3>
    <div class="pure-g">
        <div class="pure-u-1-2">
            <div class="prediction v1 faceoff left">
                <div class="pundit">
                    <div class="photo"></div>
                    <div class="text-wrapper">
                        <h5 class="name">{{ name1 }}</h5>
                        <h6 class="source">{{ source1 }}</h6>
                    </div>
                </div>
                <h3 class="text">{{ text1 }}</h3>
            </div>
        </div>
        <div class="pure-u-1-2">
            <div class="prediction v1 faceoff right">
                <div class="pundit">
                    <div class="photo"></div>
                    <div class="text-wrapper">
                        <h5 class="name">{{ name2 }}</h5>
                        <h6 class="source">{{ source2 }}</h6>
                    </div>
                </div>
                <h3 class="text">{{ text2 }}</h3>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endmacro %}

{% macro angle_prediction(class) %}
{% with text, name, source, color, _, grade = random(predictions) %}
<div class="prediction v1 {{class}}">
    <span class="angle hang-left"></span>
    <div class="background">
        <div class="scrim"></div>
    </div>
    <h3 class="text">{{ text }}</h3>
    <div class="pundit">
        <div class="photo"></div>
        <div class="text-wrapper">
            <h5 class="name">{{ name }}</h5>
            <h6 class="source">{{ source }}</h6>
        </div>
    </div>
    <span class="angle hang-right"></span>
</div>
{% endwith %}
{% endmacro %}


{% macro navbar() %}
<div class="navbar">
    <nav>
        <div class="pure-g">
            <div class="pure-u-1">
                <a href="{{ url_for('grid', login=request.args.get('login')) }}">
                    <div class="logo">
                        <span>Pundit</span><br><span>Tracker</span>
                    </div>
                </a>
                <ul class="categories">
                    {% for _, _, _, color, category, _ in predictions %}
                        <li>
                            <a href="{{ url_for('grid', login=request.args.get('login')) }}" data-color="{{color}}">{{ category }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{{ url_for('blog', login=request.args.get('login')) }}">Blog</a>
                    </li>
                </ul>
                {{ caller() }}
                <div class="search">
                    <input id="search" class="stretch" type="text" placeholder="Type to search..." />
                    <i class="search-icon fa fa-search"></i>
                </div>
            </div>
        </div>
    </nav>
</div>
{% endmacro %}


{% macro angle_navbar() %}
<div class="navbar">
    <nav>
        <div class="pure-g">
            <div class="pure-u-1">
                <div class="logo">
                    <span class="p">Pundit</span><br><span class="t">Tracker</span>
                </div>
                <ul class="categories">
                    {% for _, _, _, color, category, _ in predictions %}
                        <li>
                            <a href="#" data-color="{{color}}">{{ category }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <a class="sign-up button" href="#">Sign Up</a>
                <a class="login" href="#">Log in</a>
            </div>
        </div>
    </nav>
</div>
{% endmacro %}

{% macro footer() %}
<footer>
    <div class="pure-g card-grid">
        <div class="pure-u-1-3">
            <ul>
                <li class="double">
                    <a href="">
                        <div class="logo">
                            <span>Pundit</span><br><span>Tracker</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="pure-u-1-3"></div>
        <div class="pure-u-1-3"></div>
    </div>
    <div class="pure-g card-grid">
        <div class="pure-u-1-3">
            <ul>
                <li><a href="">Finance</a></li>
                <li><a href="">Politics</a></li>
                <li><a href="">Sports</a></li>
                <li>
                    <ul>
                        <li><a href="">NFL</a></li>
                        <li><a href="">NBA</a></li>
                    </ul>
                </li>
                <li><a href="">Media</a></li>
            </ul>
        </div>
        <div class="pure-u-1-3">
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Jobs</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Blogs we like</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Feedback</a></li>
            </ul>
        </div>
        <div class="pure-u-1-3">
            <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li>
                    <ul>
                        <li><a href="">@ptraxfinance</a></li>
                        <li><a href="">@ptraxpolitics</a></li>
                        <li><a href="">@ptraxsports</a></li>
                        <li><a href="">@ptraxentertain</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</footer>
{% endmacro %}

{% macro post(truncate=False, image=True) %}
{% with p = random(posts) %}
<li class="post">
    <div class="header {% if not image %}no-img{% endif %}">
        <div class="background" style="background-image:url({{ url_for('static', filename='img/' + p.image) }})">
            <div class="scrim"></div>
        </div>
        <div class="text">
            <a href="{{ url_for('post', login=request.args.get('login')) }}"><h3>{{p.title}}</h3></a>
            <h6>{{p.date}} | by {{ p.author }}</h6>
        </div>
    </div>
    <div class="text">
        {{ socials() }}
        {% if truncate %}
            {{ p.snippet | safe}}
            <p><a href="{{ url_for('post', login=request.args.get('login')) }}">Read more...</a></p>
        {% else%}
            {{ p.html | safe}}
            {{ socials() }}
        {% endif %}
    </div>
</li>
{% endwith%}
{% endmacro %}

{% macro comment() %}
{% with _, name, source, color, _, grade = random(predictions) %}
<div class="comment">
    <!-- {{ pundit(name, source, color, grade) }} -->
    <div>
        <img src="{{ random(heads) }}"/>
        <h5>{{name}}</h5>
    </div>
    <p class="text">
        {% for _ in range(random([1,2,3,5,9])) %}
        My comment is that this is a great article.
        {% endfor %}
    </p>
</div>
{% endwith%}
{% endmacro %}

{% macro socials() %}
<div class="socials">
    <span class="facebook-button">
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </span>
    <span class="twitter">
        <a class="twitter-share-button"
      href="https://twitter.com/share">
        Tweet
        </a>
        <script type="text/javascript">
        window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
        </script>
    </span>
    <span class="g-plus">
        <div class="g-plusone" data-size="medium" data-annotation="bubble" data-width="300"></div>
    </span>
</div>
{% endmacro %}

{% macro filter(label, options, selectedIndex=0) %}
<div class="filter">
    <span class="label">{{ label }}</span>
    <ul class="options">
        {% for option in options %}
            {% if loop.index0 == 0 %}
            <li class="selected">
                <span>{{ option }}</span>
            </li>
            {% else %}
            <li>
                <span>{{ option }}</span>
            </li>
            {% endif%}
        {% endfor %}
    </ul>
    <span class="arrow">
        <i class="fa fa-caret-down"></i>
    </span>
</div>
{% endmacro %}

{% macro march_madness() %}
<div class="march-madness">
    <div class="background">
        <div class="scrim"></div>
    </div>
    <div class="pure-g card-grid">
        <div class="pure-u-1">
            <h2 class="header">Don't miss out on <br>the Madness.</h2>
            <h2 class="pick animated">
                <a href="#" class="button">Pick your bracket today  </a>
            </h2>
        </div>
    </div>
    <div class="mm-logo"><img src="{{ url_for('static', filename='img/march-madness.png')}}"></div>
</div>
{% endmacro %}