{% extends "blog.html" %}
{% import "macros.html" as macros with context %}

{% block blog_content %}
<ul class="posts">
	{{ macros.post() }}
</ul>
<div class="pure-g card-grid">
	<div class="pure-u-1">
		<div class="comments are-facebook">
			<h4>Facebook Comments</h4>
			<div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-numposts="5" data-width="100%" data-colorscheme="light"></div>
		</div>
	</div>
</div>
<div class="pure-g card-grid">
	<div class="pure-u-1">
		<div class="comment-form">
			<h4>Leave a Comment</h4>
			<form>
				<input type="text" placeholder="Your Name">
				<input type="email" placeholder="Email Address (Will not be shared)">
				<input type="text" placeholder="Your Website">
				<textarea placeholder="Type your comment..." name=""></textarea>
				<input class="button blue" type="submit"/>
			</form>
		</div>
	</div>
</div>
<div class="pure-g card-grid">
	<div class="pure-u-1">
		<div class="comments">
			<h4>Comments</h4>
			<ul>
				<li>{{ macros.comment() }}</li>
				<li>{{ macros.comment() }}
					<ul>
						<li>{{ macros.comment() }}</li>
						<li>{{ macros.comment() }}</li>
						<li>{{ macros.comment() }}
							<ul>
								<li>{{ macros.comment() }}</li>
								<li>{{ macros.comment() }}</li>
							</ul>
						</li>
						<li>{{ macros.comment() }}
							<ul>
								<li>{{ macros.comment() }}</li>
								<li>{{ macros.comment() }}</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>{{ macros.comment() }}
					<ul>
						<li>{{ macros.comment() }}</li>
						<li>{{ macros.comment() }}</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}