{% extends "grid.html" %}
{% import "macros.html" as macros with context %}

{% block bodyJs %}
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/blog.js') }}"></script>
{% endblock %}

{%- block main -%}
<div class="content no-hero">
    <div class="blog-wrapper card-grid">
        <div class="sidebar left">
            <div class="inner">
                {% with picture = random(macros.heads) %}
					<div class="profile">
						<img src="{{ picture }}">
						<div class="text dark">
							<h1 class="h3">Joseph Pundit</h1>
							<h5>ABC: This Week</h5>
						</div>
						<div class="text">
							<p>George Will is a syndicated columnist for The Washington Post and contributing analyst with ABC News.</p>
						</div>
						<div class="pure-g stats">
							<div class="pure-u-1-3">
								<h6>Predictions</h6>
								<h4>15</h4>
							</div>
							<div class="pure-u-1-3">
								<h6>Correct</h6>
								<h4>10</h4>
							</div>
							<div class="pure-u-1-3">
								<h6>Wrong</h6>
								<h4>5</h4>
							</div>
						</div>
						<div class="pure-g stats">
							<div class="pure-u-1-3">
								<h6>Hit Rate</h6>
								<h4>66.66%</h4>
							</div>
							<div class="pure-u-1-3">
								<h6>Yield</h6>
								<h4>$0.84</h4>
							</div>
							<div class="pure-u-1-3">
								<h6>Coolness</h6>
								<h4>Max</h4>
							</div>
						</div>
						<div class="pure-g stats">
							<div class="pure-u-1-1 since">
								<h6>Predicting Since</h6>
								<h4>January 2011</h4>
								<div class="green">
									<h4>A+</h4>
								</div>
							</div>
						</div>
					</div>
                {% endwith %}
            </div>
        </div>
        <div class="profile-content right">
			<div class="pure-g card-grid">
				<div class="pure-u-1-2">
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction() }}</div>
					</div>
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction('tall-2') }}</div>
					</div>
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction() }}</div>
					</div>
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction() }}</div>
					</div>
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction('tall-3-2') }}</div>
					</div>
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction() }}</div>
					</div>
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction() }}</div>
					</div>
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction('tall-3-2') }}</div>
					</div>
				</div>
				<div class="pure-u-1-2">
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction('tall-3-2') }}</div>
					</div>
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction() }}</div>
					</div>
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction() }}</div>
					</div>
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction('tall-3-2') }}</div>
					</div>
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction() }}</div>
					</div>
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction('tall-2') }}</div>
					</div>
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction() }}</div>
					</div>
					<div class="pure-g card-grid">
						<div class="pure-u-1">{{ macros.prediction() }}</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
{%- endblock -%}