$blue: #08537b;
$green: #039b67;
$yellow: #f4bb15;
$yellow-green: #FF5900;
$red: #e54236;
$orange: #d79003;
$black: #111;
$offgray: #666;
$lightgray: #999;
$verylightgray: #e5e5e5;
$ultralightgray: #f5f5f5;
$BACKGROUND: 221;
$white: white; //#eee;
$facebook-blue: #3b5998;