@import 'base';
@import 'utils';
$hero-height: 25rem;
$angle: 0.2;
$navbar-height: 4rem;
.navbar {
	height: $navbar-height;
	background-color: $red;
	color: $white;
	position: fixed;
	width: 100%;
	z-index: 5000;
	nav {
		max-width: $content-width;
		margin: 0 auto;
		width: 95%;
		padding: 0 0.75rem;
		@include border-box;
	}
}

.logo {
	width: ($hero-height * $angle );
	@extend .h4;
	height: $navbar-height;
	position: relative;
	padding-top: 1rem;
	display: inline-block;
	span {
		text-align: justify;
		width: 4rem;
		line-height: 0.75rem;
		display: block;
	}
	.t {
		font-size: 0.95rem;
		margin-top: -1.25rem;
	}
}

.categories {
	display: inline-block;
	vertical-align: top;

	li {
		display: inline-block;
		font-size: 0.8rem;
		padding: 0 1rem;
	}
}

.sign-up {
	float: right;
	font-size: 0.8rem;
	margin-top: 1rem;
}

.login {
	float: right;
	font-size: 0.8rem;
	margin-right: 1rem;
	margin-top: 1.5rem;
}