@import 'base';
@import 'navbar';

$blog-post-height: 6rem;
$extension: 10rem;
$card-grid-padding: 1.5rem;
$hero-height: 30rem;
$prediction-height: 15rem;
$prediction-padding: 0.75rem;
$pundit-vertical-padding: 1rem;
$pundit-height: 4rem;
$voting-height: 2rem;
$hero-image-width: 100rem;
$tall-2-height: (2 * $prediction-height + $card-grid-padding);
$tall-3-2-height: ((3 * $prediction-height + $card-grid-padding) / 2);
html, body {
    background-color: $verylightgray;
    position: relative;
}

.button {
    @include button($blue, $white)
}

.content {
    z-index: 80;
    position: absolute;
    width: 100%;
    overflow-x: hidden;

    & >.card-grid {
        width: 95%;
    }
}

.blue { background-color: $blue; }
.red { background-color: $red; }
.yellow { background-color: $yellow; }
.yellow-green { background-color: $yellow-green; }
.green { background-color: $green; }
.orange { background-color: $orange; }


.hero {
    height: 80vh;
    margin: 0 auto;
    width: 100%;
    z-index: 100;
    padding-top: $navbar-height;
    padding-bottom: 2rem;
    position: relative;

    &.fixed {

        height: $hero-height;
        width: ($content-width + 2 * $extension);

        &.done {
            max-width: 100%;
        }

        .featured {
            height: $hero-height;
        }
    }

    & > .background {
        box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3);
        top: $navbar-height;
        bottom: 2rem;
        position: absolute;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100%;
        width: 100%;
        overflow-x: hidden;

    .scrim {
        @include scrim($BACKGROUND);
    }
}

    .right {
        z-index: 200;
    }
}
.scrim {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 60;
}
.card-grid {
    max-width: $content-width;
    margin: 0 auto;
    margin-bottom: $card-grid-padding;
    & > div {
        padding: 0 ($card-grid-padding / 2);
        @include border-box;

        &:first-child {
            // margin-left: (- $card-grid-padding);
        }
    }

    .card-grid  {
        z-index: 200;
        width: 100%;
        &:last-child {
            margin: 0;
        }
        & > div {
            padding: 0;
            margin: 0;
            &:not(:last-child) {
                padding-right: ($card-grid-padding / 2);
            }
            &:not(:first-child) {
                padding-left: ($card-grid-padding / 2);
            }
        }
    }
}

.with-image {
    position: relative;
    max-width: $content-width;
    width: 100%;
    margin: 0 auto;

    .background {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        position: absolute;
        // width: 100%;
        top: -15rem;
        left: 50%;
        overflow: visible;
        height: ($tall-2-height + 30rem);
        width: $hero-image-width;
        margin-left: (-1 * $hero-image-width / 2);
        .scrim {
            @include two-way-scrim($BACKGROUND);
        }
    }
}

.faceoff-outer {
    margin: 2rem 0;
}

.faceoff-wrapper {
    color: white;
    .background {
        background-image: url(../../img/football.jpg);
    }
}

.set-wrapper {
    .background {
        background-image: url(../../img/hero.jpg);
    }
    .card-grid {
        padding: 2rem 0 5rem;
    }
}

.faceoff-wrapper, .set-wrapper {
    position: relative;
    margin: 0 (-1 * $extension - 0.75rem);
    padding: 0 ($extension + 0.75rem);
    box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3);
    .question {
        color: $white;
        position: relative;
        height: 4rem;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 5rem 0 0;
        z-index: 500;
        @extend .h2;
        text-shadow: 2px 2px 3px black;
    }
    .background {
        width: 100%;
        background-position: center center;
        background-size: cover;
        position: absolute;
        top:0;
        left:0;
        height: 100%;

        .scrim {
            background-color: rgba(0,0,0, 0.15);
        }
    }
}

.featured-users, .featured-pundits, .featured-blog-posts {
    height: $tall-3-2-height;
    background-color: $white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19);
    & > .title-wrapper {
        @include border-box;
        // background-color: $blue;
        background-image: url(../../img/hero.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: ($tall-3-2-height - 4 * $pundit-height);
        padding: 1rem;
        position: relative;
        & > .title {
            position: absolute;
            bottom: 1rem;
            margin: 0;
            color: white;
            text-shadow: 2px 2px 3px black;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.featured-blog-posts {
    & > .title-wrapper {
        height: ($tall-3-2-height - 3*$blog-post-height) !important;
    }

    .blog-post {
        height: $blog-post-height;
        width: 100%;
        background-color: $white;
        padding: $prediction-padding;
        @include border-box;

        &:hover {
            background-color: $ultralightgray;
        }
        &:not(:last-child) {
            border-bottom: 1px solid $ultralightgray;
        }
        h4 {
            margin: 0;
            line-height: 1.5rem;
        }
        h6 {
            margin-top: 0.25rem;
        }
    }
}

.facebook {
    height: $tall-3-2-height;
    height: $prediction-height;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19);
    position: relative;
    @include radial(59,89,152,50%, $prediction-height - $pundit-height);
    .title-wrapper {
        @include border-box;
        padding: $prediction-padding;
        height: ($tall-3-2-height - 4 * $pundit-height);
        color: white;
        h3, h2{
            margin: 0;
        }
    }
    & > .fb-wrapper {
        text-align: center;
        position: absolute;
        top: ($tall-3-2-height - 4 * $pundit-height);
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 500;
        display: block;
        @include border-box;
        & > .inner {
            position: absolute;
            height: 8rem;
            margin-top: -4rem;
            width: 100%;
            top: 50%;
        }
    }
}

.prediction {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19);
    z-index: 200;
    background-color: $white;
    padding: $prediction-padding;
    height: $prediction-height;
    position: relative;
    @include border-box;
    .text {
        margin: 0;
    }
    .background {
        width: 100%;
        background-position: center center;
        background-size: cover;
        display: none;
        position: absolute;
        top:0;
        left:0;
        height: 100%;
    }
    .pundit {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .scrim {
        @include scrim(50);
    }
    .voting {
        z-index: 500;
        height: $voting-height;
        overflow: hidden;
        position: absolute;
        right: 0;
        bottom: $pundit-height;
        width: 100%;
        @include transition(0.2s);

        .prompt {
            text-transform: uppercase;
            position: absolute;
            display: none;
            top: -1rem;
            font-size: 0.8rem;
            line-height: $pundit-height;
            height: $pundit-height;
            vertical-align: middle;
            text-align: center;
            width: 100%;
            color: $black;
        }
        .options {
            margin-top: 1px;
            border-top: 1px solid $ultralightgray;
            height: $voting-height;
            line-height: $voting-height;
            position: absolute;
            left: 0;
            right: 0;
            top: $voting-height;
            list-style: none;
            padding: 0;
            margin: 0;
            z-index: 3000;
            @include transition(0.2s);
            @include border-box;
            font-size: 0;
            li {
                width: 25%;
                display: inline-block;
                @include border-box;
                text-align: center;
                height: $voting-height;
                &:hover {
                    color: $black;
                    background-color: $ultralightgray;
                }
                &:not(:last-child) {
                    border-right: 1px solid $ultralightgray;
                }
                .option {
                    @extend .h6;
                    line-height: 2rem;
                    vertical-align: top;
                }
            }
        }
    }
    &:hover {
        .voting .options{
            top: 0;
        }
    }

    /**************
     * Variations *
     **************/
    &.faceoff {
        background-color: rgba(0,0,0,0);
        position: relative;
        padding: 3rem;
        text-shadow: 2px 2px 3px black;
        & > .pundit {
            border: 0;
            top: 0;
            position: relative;
            background-color: rgba(0,0,0,0);
            .text-wrapper {
                left: 0;
                color: $white;
            }
            .photo {
                height: 6rem;
                width: 6rem;
                border-radius: 6rem;
            }
            .name {
                font-size: 2rem;
                line-height: 2.5rem;
            }
            .source {
                font-size: 1.5rem;
            }
        }
        & > .text {
            margin-top: 2.5rem;
        }
        &.left {
            .pundit {
                .photo {
                    position: absolute;
                    left: -7rem;
                    top: -1rem;
                    margin-left: 1rem;
                }
            }
        }
        &.right {
            .text {
                text-align: right;
            }
            .pundit {
                .photo {
                    position: absolute;
                    right: -7rem;
                    top: -1rem;
                }
                .text-wrapper {
                    left: auto;
                    width: 100%;
                    float: right;
                    text-align: right;
                }
            }
        }
    }
    &.wide-2 {
        .text {
            @extend .h3;
        }
    }
    &.tall-3-2 {
        height: $tall-3-2-height;
        .text {
            @extend .h3;
        }
    }
    &.tall-2 {
        color: $white;
        height: $tall-2-height;
        .prompt {
            color: $white;
        }
        .background {
            background-image: url(../../img/vertical.jpg);
            display: block;
        }

        .pundit {
            background-color: rgba(0,0,0,0) !important;
            color: $white;
        }
        .text-wrapper {
            color: $white;
        }
        .text {
            position: absolute;
            text-shadow: 2px 2px 3px black;
            bottom: ($pundit-height + $prediction-padding + $voting-height);
            left: $prediction-padding;
            right: $prediction-padding;

            z-index: 300;
            @extend .h2;
        }
    }
    &.featured {
        background-color: rgba(0,0,0,0.2);
        color: $white;
        text-shadow: 2px 2px 3px black;
        position: absolute;
        bottom: 2rem;
        width: 50%;

        .text {
            @extend .h1;

            position: absolute;
            bottom: ($pundit-height + $voting-height + 1rem);
            left: 1rem;
            right: 1rem;
        }

        .pundit {
            background-color: rgba(0,0,0,0) !important;
            bottom: 0;
            .text-wrapper {
                height: 5rem;
                color: $white;
                left: 4rem;
                text-shadow: 2px 2px 3px black;
            }
            .name, .source {
                text-shadow: 2px 2px 3px black;
            }
        }
        .voting {
            .options {
                text-shadow: none;
            }
            .prompt {
                color: white;
                text-shadow: 2px 2px 3px black;
            }

        }
    }
    &.no-box {
        background-color: rgba(0,0,0,0.2) !important;
        .background {
            display: none;
        }
        padding-bottom: 1rem;
        height: $tall-2-height;
        border: 1rem solid white;
        // @include scrim(50);
        .text {
            width: 50%;
        }

    }
}

.pundit {
    position: relative;
    height: $pundit-height;
    background-color: $ultralightgray;
    width: 100%;
    color: $black;
    z-index: 700;
    @include border-box;

    .grade {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: $pundit-height;
        width: $pundit-height;
        color: $white;
        text-align: center;
        overflow: hidden;
        @include transition(0.2s);

        .average {
            font-size: 0.7rem;
            text-transform: uppercase;
            position: absolute;
            width: 100%;
            text-align: center;
            line-height: 1rem;
            left: 0;
            bottom: -1rem;
            @include transition(0.2s);
        }
        .letter {
            top: 0rem;
            position: absolute;
            left: 0;
            width: 100%;
            @include transition(0.2s);
            font-size: 1.5rem;
            line-height: $pundit-height;
            vertical-align: middle;
        }

        &:hover {
            .letter {
                top: -0.5rem;
            }
            .average {
                bottom: 0;
            }
        }
    }
    .photo {
        background-image: url(../../img/profile.jpeg);
        background-position: center center;
        background-size: cover;
        height: $pundit-height;
        width: $pundit-height;
        display: inline-block;
        position: relative;
        overflow: hidden;
    }
    .text-wrapper {
        @include border-box;
        position: absolute;
        padding: $pundit-vertical-padding;
        top: 0;
        left: ($pundit-height - 2 * $pundit-vertical-padding +  2 * $prediction-padding);
        right: $pundit-height;
        height: $pundit-height;
        color: $black;
        .name {
            margin:0;
        }
        .source {
            margin: 0.25rem 0 0;
        }
    }
    &:hover {
        .grade {
            top: 0;
        }
    }
}

.category-link {
    background-color: $blue;
    color: $white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19);
    z-index: 200;
    padding: $prediction-padding;
    height: $prediction-height;
    @include border-box;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-image: url(../../img/hero.jpg);
    h2 {
        position: absolute;
        right: 1rem;
        left: 1rem;
        text-shadow: 2px 2px 3px black;
        z-index: 1000;
        line-height: 3rem;
        margin: 0;

        & + a h2 {
            bottom: 1rem;
            text-decoration: underline !important;
        }
        & + a i {
            text-decoration: underline !important;

        }
    }

    .scrim {
        @include scrim(50);
    }
}

footer {
    background-color: $blue;
    color: $white;
    padding: 2rem 0 4rem;
    margin-top: 2rem;
    @include border-box;

    & > .card-grid {
        max-width: 95%;
        width: $content-width;
        margin: 0 auto;
    }
    ul {
        padding: 0.75rem;
        list-style: none;
        padding: 0;
        margin: 0;
        ul {
            margin-left: 1rem;
        }
    }
    .double {
        border-bottom: 1px solid $white;
        margin-bottom: 0.5rem;
        width: 50%;
    }
}

