@import 'base';

$navbar-height: 4rem;
.navbar {
	height: $navbar-height;
	background-color: $white;
	position: fixed;
	width: 100%;
	z-index: 500;
	box-shadow: 0 0 1rem black;
	nav {
		max-width: $content-width;
		margin: 0 auto;
		width: 95%;
		padding: 0 0.75rem;
		@include border-box;
	}
}

.logo {
	@extend .h5;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0.75rem;
	display: inline-block;
	span {
		text-align: justify;
		width: 4rem;
		line-height: 0.75rem;
		display: block;
	}
	.p {
		font-size: 1.125rem;
		line-height: 1.25rem;
	}
	.t {
		font-size: 0.95rem;
		margin-top: -1rem;
	}
}

.categories {
	display: inline-block;
	vertical-align: top;

	li {
		display: inline-block;
		font-size: 0.8rem;
		padding: 0 1rem;
	}
}

.sign-up {
	float: right;
	font-size: 0.8rem;
	margin-top: 1rem;
}

.login {
	float: right;
	font-size: 0.8rem;
	margin-right: 1rem;
	margin-top: 1.5rem;
}